body{
    margin: 0;
    font-family: 'Din', sans-serif;

}
header{
    display: flex;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    /*padding: 15px;*/
    height: 15vh;
    width: 100vw;
    color: white;
    background-color: #262626;


}
header h1{
    padding: 30px;
    text-align: center;
}
#chart-container{
    max-height: 80vh;
    background-color: white;
    position: relative;
    padding: 15px;
    z-index: 0;
}
#loadingAJAX{
    z-index: 4;
    width: 100vw;
    height: 85vh;
    background-color: #ffffff;

}
#backButton{
    border-radius: 50%;
    background-color: rgba(255,255,255,0.2);
    position: fixed;
    margin: 20px;
    right : 1%;
    top :3%;
    transition: 0.8s background-color;
}

#backButton:hover{
    background-color: white;
}
