@font-face {
  font-family: 'Din';
  font-weight: normal;
  src: url(../Fonts/din/DINRegular.ttf);
}
@font-face {
  font-family: 'Din';
  font-weight: bold;
  src: url(../Fonts/din/DINBold.ttf);
}


*{
  font-family: 'Din',sans-serif;
}
