::-webkit-scrollbar {
    display: none;
}
::-moz-focus-inner {border:0;}
:focus {outline:none;}

body{
    margin: 0;

}
#backgroundPhoto{
    background-image: url("../Photos/background.jpg");
    background-size: cover;
    background-position: top;
    min-height: 85vh;
    z-index: 1;

}
h1{
    margin: 0;
}

#change, #goToChart{
    border : solid 2px rgba(0,0,0,0);
    border-radius: 10px;
    padding: 15px;
    position: fixed;
    z-index: 6;
    top: 5%;
    background-color: rgba(0,0,0,0);
    color: rgb(0,0,0);
    box-shadow: 1px 3px 3px rgba(0,0,0,0.5);
    transition: 0.3s box-shadow;
}

#change:hover,#goToChart:hover{
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
    border: solid 2px rgba(255,255,255,1);
    cursor: pointer;
}

#change{
    right: 3%;
}
#goToChart{
    left: 3%;
}
header{

    height: 15vh;
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 10px rgba(0,0,0,0.8);
    align-items: center;
    z-index: 5;
}

header img{
    position: relative;
    padding: 8px;
    max-height: 14vh;
}