::-webkit-scrollbar {
    display: none;
}
::-moz-focus-inner {border:0;}
:focus {outline:none;}

#backButton{
    border-radius: 50%;
    background-color: rgba(255,255,255,0.2);
    position: fixed;
    margin: 20px;
    left : 1%;
    top :1%;
    transition: 0.8s background-color;

}

#backButton:hover{
    background-color: white;
}


#picContainer{
    background-image: url(../Photos/Planets/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    max-width: 100%;
    min-height: 95vh;
    z-index: -1;
    background-attachment: fixed;
    transition: 1.2s background-image;
    -moz-transition: 1.2s background-image;
}

#information{
    position: fixed;
    background-color: transparent;
    color: gray;
    top: 5%;
    left: 18%;
    width: 300px;
    height: 500px;

}
#information h1{
    font-size: xx-large;
}
.info{
    margin: 0;

}
.info h2{
    margin: 0;
    font-size: x-large;
}

#changeNext, #changePrevious{
    border : solid 2px rgba(0,0,0,0);
    border-radius: 10px;
    padding: 15px;
    position: fixed;
    z-index: 2;
    font-size: large;
    background-color: rgba(0,0,0,0);
    color: white;

    transition:  0.8s border, 0.8s box-shadow ;
}
#changePrevious{
    bottom: 5%;
    left: 5%;
}
#changeNext{
    bottom: 5%;
    right: 5%;
}

#changeNext:hover, #changePrevious:hover{
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
    border: solid 2px rgba(255,255,255,1);
    cursor: pointer;
}

form{
    position: fixed;
    bottom: 5%;
    right : 40%;
    color: white;
}

#EnteredNumber{
    height: 30px;
    color: white;
    background-color: rgba(255,255,255,0.4);
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    border-style: hidden;
    border-radius: 10px;
    padding: 5px;
    font-size: large;
    transition: 0.8s background-color, 0.8s box-shadow;

}
#EnteredNumber:focus{
    background-color: rgba(0,0,0,1);
    box-shadow: 0 10px 10px rgba(2,2,2,0.2);
}
#processRandom{
    height: 30px ;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    margin: 10px;

}
#processRandom:hover{
    cursor: pointer;
}
form div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#bottom{
    display: flex;
    align-items: center;
}
